<div class="homepage-mattress-section row">
    
   <div class="col-lg-4 col-md-4 col-sm-12"> 
        <div class="mattress-cool">
            <img class="m-img" src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/cool.jpg?t=1599208235&_ga=2.223761682.847040776.1599437166-1432688951.1599009154">
            <div class="mattress-title">
          <h2 class="fade-in from-bounce-in duration-1500">COOL MATTRESS</h2>
            </div>
            <div class="mattress-button-div">
                <a href="/cool-gel-memory-foam-mattress/" class="mattress-section-button"><span class="shop-button">SHOP NOW<img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/carttt.png?t=1599452937&_ga=2.70213145.847040776.1599437166-1432688951.1599009154"></span></a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-12"> 
        <div class="mattress-luxe">
            <img class="m-img" src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/luxe.jpg?t=1599208238&_ga=2.223761682.847040776.1599437166-1432688951.1599009154">
            <div class="mattress-title">
                <h2 class="fade-in from-bounce-in duration-1500">LUXE MATTRESS</h2>
            </div>
            <div class="mattress-button-div">
                <a href="/luxe-gel-memory-foam-mattress/" class="mattress-section-button animation-element wiggle"><span class="shop-button">SHOP NOW<img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/cart.png?t=1599208236&_ga=2.65083687.847040776.1599437166-1432688951.1599009154"></span></a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-12"> 
        <div class="mattress-alpha ">
           <!--  <img src="https://store-z2qdisybty.mybigcommerce.com/product_images/uploaded_images/Blank%20Bedroom%20Category.jpg"> -->
            <!-- <img class="m-img" src="assets/img/alpha-mattress.png"> -->
            <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/alpha.jpg?t=1599208233&_ga=2.34774753.1759248098.1619677766-1835193253.1617777202">     
            <div class="mattress-title">
                <h2 class="fade-in from-bounce-in duration-1500">ALPHA MATTRESS</h2>
            </div>
            <div class="mattress-button-div">
                <a href="/alpha-gel-memory-foam-mattress/" class="mattress-section-button animation-element wiggle"><span class="shop-button">SHOP NOW<img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/cart.png?t=1599208236&_ga=2.65083687.847040776.1599437166-1432688951.1599009154"></span></a>
            </div>
        </div>
    </div>
    
</div>


<h1 class="another-mattress-title fade-in slide-up"><strong><b> Not Just Another Mattress</strong></b></h1>

<div class="homepage-mattress-section row mattresses-div">
    
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="another-mattress">
            <div class="another-mattress-img fade-in from-bounce-in duration-1500 delay-1000">
                <img class="m-img" src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/certification-icon.png?t=1581661007&_ga=2.135485561.911729626.1581580201-2022119561.1571639426">
            </div>
         <div class="another-mattress-description fade-in duration-1500">
                <h3 class="slide-in left-long">Certified Products</h3>
                <span class="fade-in fromslide-right">Our mattresses are CertiPUR-US® and STANDARD 100 OEKO-TEX® certified.</span>
            </div>
        </div> 
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="another-mattress">
          <div class="another-mattress-img fade-in from-bounce-in duration-1500 delay-1300">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/warranty-icon.png?t=1581661008&amp;_ga=2.62741988.911729626.1581580201-2022119561.1571639426">
            </div>
            <div class="another-mattress-description fade-in duration-1500">
                <h3 class="slide-in left-long">Long-term Warranty</h3>
                <span class="fade-in fromslide-right">Icon Sleep products come with an honest 10-year warranty.</span>
            </div>
        </div> 
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="another-mattress">
            <div class="another-mattress-img fade-in from-bounce-in duration-1500 delay-1600">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/100-night-icon.png?t=1581661006&amp;_ga=2.56260195.911729626.1581580201-2022119561.1571639426">
            </div>
            <div class="another-mattress-description fade-in duration-1500">
                <h3 class="slide-in left-long">100-Night Sleep Trial</h3>
                <span class="fade-in fromslide-right">Test a mattress for Free for 100 nights and enjoy iconic quality.</span>
            </div>
        </div> 
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="another-mattress">
            <div class="another-mattress-img fade-in from-bounce-in duration-1500 delay-1900">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/mattress-icon.png?t=1581661007&amp;_ga=2.56260195.911729626.1581580201-2022119561.1571639426">
            </div>
            <div class="another-mattress-description fade-in duration-1500">
                <h3 class="slide-in left-long">Feature-rich Mattress</h3>
                <span class="fade-in fromslide-right">Designed to efficiently provide comfort, relief, and support.</span>
            </div>
        </div> 
    </div>
</div>


<div class="homepage-packaging-section">
  <div class="cares-img">
      <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/zxc.jpg?t=1599200301&_ga=2.76582352.45605480.1599177772-1432688951.1599009154">
    </div>
  <div class="cares-text">
    <div class="text-container">
      <h1 class="slide-in from-slide-up in-view ">Icon Sleep Cares</h1>
  <p class="fade-in from-slide-up delay-1500">We take pride in designing and making environment-friendly mattresses - products without harmful chemical that pose a threat to your health and environment.</p>
</div>
  </div>
</div>

<div class="review-carousel">
<div id="stamped-reviews-widget" data-widget-type="carousel" data-auto-play="true" data-auto-play-speed="10000" data-fill-empty="true" data-title="Authentic Reviews From Real Customers" data-random="? string:Authentic reviews from real customers. ?" data-element-id="1" data-lang="en" data-rating-all="4.81" data-page="4">
 </div>
</div>

<div class="homepage-adverts-section">
    <div class="ads-abs">
    <div class="ads-text">
        <h1 class="fade-in from-left-long">Only What <span>You Need</span></h1>
        <span class="fade-in from-left-long ">Everything you need from a mattress. Nothing more.</span>
    </div>
    <div class="ads-content">
        <div class="">
            <div class="fade-in slide-up delay-1500 in-view">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/111.png?t=1599116130&amp;_ga=2.78872535.293151411.1599093029-2022119561.1571639426">
            </div>
            <div class="ads-content-text">
                <h3 class="fade-in from-left-long delay-2000">No Expensive Advertising</h3>
                <p class="fade-in from-left-long delay-2500">We save our customers thousands of dollars from experience advertising costs.</p>
            </div>
        </div>
        <div class="">
            <div class="fade-in slide-up from-delay-3000">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/222.png?t=1599116131&amp;_ga=2.225579097.293151411.1599093029-2022119561.1571639426">
            </div>
            <div class="ads-content-text">
                <h3 class="fade-in from-left-long  
                delay-3500">No Paid-For Reviews</h3>
                <p class="fade-in from-left-long  delay-4000">We are confident that our customers will give us organic feedback - no need for incentivized reviews.</p>
            </div>
        </div>
        <div class="">
            <div class="fade-in slide-up delay-4500 in-view">
               <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/333.png?t=1599116132&amp;_ga=2.49429605.293151411.1599093029-2022119561.1571639426"> 
            </div>
            <div class="ads-content-text ">
                <h3 class="fade-in from-left-long  delay-4600">No Fancy Packaging</h3>
                <p class="fade-in from-left-long  delay-4700">We efficiently fit your mattress in an ergonomic box for a hassle-free handling and unboxing</p>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="blog-heading">
        <h2 class="slide-in left-slide">Read The <span>Slumbertales</span></h2>        
        <p>Exciting, fresh, and relevant blogs every now and then.</p>
    </div>

<div class=”blog” >
{{#each blog.recent_posts}}
    <div class="blogPost fade-in from-bounce-in duration-1000">
    {{#if thumbnail}}

        <figure>
            <a href="{{url}}">
                <img src="{{getImage thumbnail 'blog_size'}}" alt="{{thumbnail.alt}}" title="{{thumbnail.alt}}">
            </a>
        </figure>
    {{/if}}
<section class="homepage-blog">
    <h5><a href=”{{url}}”>{{title}}</a></h5>
<p>{{summary}}</p>    
</section> 

</div>
{{/each}}


</div>


<div class="blogPosts-more">
        <a href="/blog/">View All Blogs</a>
    </div>



<div class="test-mattresses-section">
    
    <div class="test-mattresses-title">
        <h2 class="animation-element slide-up in-view"><span>Still in doubt?</span> Put us to the test.</h2>
        <p>Tell us which mattress you want to try.</p>
    </div>
    
 <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="test-mattress-img">
                <img class="fade-in from-bounce-in duration-5000" src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/cool.png?t=1583977073&amp;_ga=2.244932421.1539354705.1583974543-2022119561.1571639426">
                <a href="/cool-gel-memory-foam-mattress/" class="test-mattress-button">CHOOSE MATTRESS</a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="test-mattress-img">
                <img class="fade-in from-bounce-in duration-5000" src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/02-luxe.png?t=1583977152&amp;_ga=2.48394342.1539354705.1583974543-2022119561.1571639426">
                <a href="/luxe-gel-memory-foam-mattress/" class="test-mattress-button">CHOOSE MATTRESS</a>
            </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="test-mattress-img">
                <img class="fade-in from-bounce-in duration-5000" src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/alpha-mattress.png?t=1601625611&amp;_ga=2.205452432.107696235.1601252207-2022119561.1571639426">
                <a href="/alpha-gel-memory-foam-mattress/" class="test-mattress-button">CHOOSE MATTRESS</a>
        </div>
        </div>
     </div>

</div>
 