<div class="flex-mattrees-section us">
    <div class="usbanner-div">
        <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/made-in-usa.png?t=1623908461'}}">
    </div>
    <div class="banner-div1">
        <div class="us-banner-description">
            <h3 class="">Proudly Made<span style="color:#fff;"> in the USA </span></h3>
            <span class="" >   
                Icon Sleep is a high-quality, trusted brand made, designed, and established in the USA.
                Icon Sleep encourages everyone to buy local and support our economy.
            </span>
        </div>
        
    </div>
</div>

<div class="banner-most-affordable">
    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/affordable-usa-banner.png?t=1623736740'}}"/>

    <div class="most-affordable-desc">
        <h2 class="animation-element invi slide-left-long delay-1000 in-view"> <span style="font-weight: bold;">Most Affordable</span>
            USA-Made Mattress
        </h2>
        <p class="animation-element invi slide-left-long delay-1300 in-view">Jaw-dropping prices, same iconic experience.
            Starts at <span style="color:red;">$199</span> 
             </p>        
        <a href="/custom-categ/" class="mattress-button-aff animation-element invi bounce-in duration-1500 in-view">Shop Now</a>  
    </div>
</div>


<div class="flex-mattrees-section">
    <div class="night-sleep-div">
        <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/bed-top-view.png?t=1623734922">
        <div class="another-mattress night-div">
            <div class="another-mattress-img animation-element slide-left-long in-view">
                <img src=" {{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/nightsleeptrial.png?t=1623227850'}} ">
            </div>
            <div class="another-mattress-description night-desc animation-element fade-in duration-1500 in-view">
                <h3 class="animation-element slide-left-long in-view">100-Night Sleep Trial</h3>
                <span class="animation-element slide-right in-view" >Why settle for a 10-minute mattress trial in-store where everyone's looking when you can try it out for 100 nights in the comfort of your own home?</span>
                <br><a href="/custom-categ/" class="learn-button" style="color: #1fc0fb; font-family: Almarai!important; font-size: 18px;">Learn More...</a>
            </div>
        </div> 
    </div>

    <div class="certified-prod-div">
        <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/certified-prod.png?t=1623220777">
        <div class="another-mattress cert-div">

            <div class="another-mattress-img animation-element slide-left-long in-view">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/puffy-certipur-us-certification-seal.png?t=1623227851">
            </div>
            <div class="another-mattress-description cert-prod animation-element fade-in duration-1500 in-view">
                <h3 class="animation-element slide-left-long in-view">Certified<br> Products</h3>
                <span class="animation-element slide-right in-view">Our mattresses are <span style="font-weight: bold;">CertiPUR-US®</span> and STANDARD 100<span style="font-weight: bold;">OEKO-TEX® certified.</span></span>
            </div>
        </div> 
    </div>     
</div>

<div class="flex-mattrees-section mt-4">
    <div class="long-term-div">
        <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/long-term.png?t=1623226027&_ga=2.122613451.1588106158.1623054117-1835193253.1617777202">
        <div class="another-mattress long-term-con">
            <div class="another-mattress-img animation-element slide-left-long in-view">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/long-term-icon.png?t=1623227850&_ga=2.85427545.1588106158.1623054117-1835193253.1617777202">
            </div>
            <div class="another-mattress-description long-trm animation-element fade-in duration-1500 in-view">
                <h3 class="animation-element slide-left-long in-view">Long-term<br> Warranty</h3>
                <span class="animation-element slide-right in-view">Icon Sleep products come with an honest 10-year warranty.</span>
            </div>
        </div> 
    </div>
    <div class="feature-rich-div">
        <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/mattress-layers.png?t=1623226066">
        <div class="another-mattress feature-matt">
            <div class="another-mattress-img animation-element slide-left-long in-view">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/feature-icon.png?t=1623227849&_ga=2.147646839.1588106158.1623054117-1835193253.1617777202">
            </div>
            <div class="another-mattress-description feature-m animation-element fade-in duration-1500 in-view">
                <h3 class="animation-element slide-left-long in-view">Feature-rich <br>Mattress</h3>
                <span class="animation-element slide-right in-view">Designed to efficiently provide comfort, relief, and support.</span>
            </div>
        </div> 
    </div>

</div>


 <section class="heroCarousel rev-carousel mt-5"
    data-slick='{
        "arrows": {{arrows}},
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": true,
        "autoplaySpeed": true,
        "slide": "[data-hero-slide]"
    }'>
 
        <div class="heroCarousel-slide">
        <h2 style="color: #fff; text-align: center; font-size: 26px; font-weight: 500; width: 90%; padding-top: 50px;">See Why People Think We're Iconic</h2>

        <div class="carousel-rev-con">
              
            <div class="review-left-con" >
                
                <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/star-review-homepage.png?t=1623821771'}}" >
            <h2 >Sleep Like A baby</h2>
            <p >I bought this mattress for my sons bed I end up the being the 
                who sleeps on it most of the time it’s so comfortable more comfortable My fancy very 
                Tempur-pedic in one word I love it my son loved it and I wish I knew about it before 
                would not have spent thousands on my other two mattresses for my California king.</p>
            <div class="review-buyer">
                <div>
                    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/author-rev-icon.png?t=1623821772'}}" >
                </div>
                <div class="verified-con">
                    <h4>Ahlem B.</h4>
                    <p><span style=" padding-right:9px;margin-top:4px;"><img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/badge-verified.png?t=1623821773'}}" ></span> Verified Buyer</p>    
                </div>
            </div>
        </div>
        <div class="review-right-con">
            <img class="animation-element fade-in delay-1000 in-view" src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/kid-image.png?t=1623822611'}}" >
        </div>
    </div>
    </div>


     <div class="heroCarousel-slide">
        <h2 style="color: #fff; text-align: center; font-size: 26px; font-weight: 500; width: 90%; padding-top: 50px;">See Why People Think We're Iconic</h2>
            <div class="carousel-rev-con">
                    
                <div class="animation-element fade-in delay-1500 in-view review-left-con " >
                    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/star-review-homepage.png?t=1623821771'}}" >
                <h2 >Verified Satisfied</h2>
                <p style="line-height: 1.3;">This was my first time ordering a bed online and was a little skeptical at first. Very comfortable mattress. I'm a combination of a side/back sleeper and this bed does well for me. No complaints. The mattress will expand once you open it slowly. It takes a good amount of time for it to fully expand. I've heard up to 48 hours to reach peak firmness so be patient. I slept on mine the same day as I set it up without problems.</p>
                <div class="review-buyer">
                    <div>
                        <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/keystone.png?t=1624002329'}}" >
                    </div>
                    <div class="verified-con">
                        <h4>Keystone F.</h4>
                        <p><span><img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/badge-verified.png?t=1623821773'}}" ></span> Verified Buyer</p>    
                    </div>
                </div>
            </div>
            <div class="review-right-con">
                <img class="animation-element fade-in delay-1000 in-view"   src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/very-satisfied.png?t=1624002332'}}" >
            </div>
        </div>
     </div>

     <div class="heroCarousel-slide">
        <h2 style="color: #fff; text-align: center; font-size: 26px; font-weight: 500; width: 90%; padding-top: 50px;">See Why People Think We're Iconic</h2>
            <div class="carousel-rev-con">
                    
                <div class="animation-element fade-in delay-1500 in-view review-left-con " >
                    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/star-review-homepage.png?t=1623821771'}}" >
                <h2 >An amazing deal and an even better sleep</h2>
                <p style="line-height: 1.3;">I was skeptical about ordering a mattress on line. After reading the reviews by others customers, researching the mattresss and company, I pulled the trigger. I’m so happy I did! I am sleeping more comfortably and more soundly than I did on my former name brand mattress. My mother was so impressed with my comfort that she just bought one for herself! Enjoy....you’re worth it!</p>
                <div class="review-buyer">
                    <div>
                        <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/amy.png?t=1624003464'}}" >
                    </div>
                    <div class="verified-con">
                        <h4>Amy K.</h4>
                        <p><span><img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/badge-verified.png?t=1623821773'}}" ></span> Verified Buyer</p>    
                    </div>
                </div>
            </div>
            <div class="review-right-con">
                <img class="animation-element fade-in delay-1000 in-view"   src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/amy-rev.png?t=1624003740'}}" >
            </div>
        </div>
     </div>

     <div class="heroCarousel-slide">
        <h2 style="color: #fff; text-align: center; font-size: 26px; font-weight: 500; width: 90%; padding-top: 50px;">See Why People Think We're Iconic</h2>
            <div class="carousel-rev-con">
                    
                <div class="animation-element fade-in delay-1500 review-left-con in-view " >
                    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/star-review-homepage.png?t=1623821771'}}" >
                <h2 >Best Bed Ever</h2>
                <p >This mattress replaced a very old, very uncomfortable pillow-top that caused me to wake up with a sore back every morning. It has been a life saver! It is the perfect amount of firmness but still feels like it is hugging me when I sleep. The price was awesome and I am very happy about this purchase. </p>
                <div class="review-buyer">
                    <div>
                        <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/lauren-avatar.png?t=1624003738'}}" >
                    </div>
                    <div class="verified-con">
                        <h4>Lauren H.</h4>
                        <p><span><img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/badge-verified.png?t=1623821773'}}" ></span> Verified Buyer</p>    
                    </div>
                </div>
            </div>
            <div class="review-right-con">
                <img class="animation-element fade-in delay-1000 in-view"   src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/lauren.png?t=1624003468'}}" >
            </div>
        </div>
     </div>

     <div class="heroCarousel-slide">
        <h2 style="color: #fff; text-align: center; font-size: 26px; font-weight: 500; width: 90%; padding-top: 50px;">See Why People Think We're Iconic</h2>
            <div class="carousel-rev-con">
                    
                <div class="animation-element fade-in delay-1500 in-view review-left-con " >
                    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/star-review-homepage.png?t=1623821771'}}" >
                <h2 >Great Bedding</h2>
                <p >Slept on it the first night we got it. No smell at all. Been sleeping on it for a few months now and its the best bed we ever had. We will never go back to a regular matress. Getting ready to replace all matresses in the house with this type.</p>
                <div class="review-buyer">
                    <div>
                        <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/gary.png?t=1624003467&_ga=2.267711374.1496872644.1623634006-1835193253.1617777202'}}" >
                    </div>
                    <div class="verified-con">
                        <h4>Gary K.</h4>
                        <p><span><img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/badge-verified.png?t=1623821773'}}" ></span> Verified Buyer</p>    
                    </div>
                </div>
            </div>
            <div class="review-right-con">
                <img class="animation-element fade-in delay-1000 in-view"   src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/gary-img.png?t=1624003465'}}" >
            </div>
        </div>
     </div>
</section>

<div class="review-banner">
    <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/review-banner.png?t=1623290589">
    <div class="review-banner-con">
        <div class="powered-div">
            <p>Powered By: <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/stamped-reviews.png?t=1623291887'}}"></p>
        </div>
        <div>
            <div class="star-badge">
                <div id="stamped-reviews-widget" style="display: inline-block;" data-widget-type="site-badge" data-badge-type="minimal" data-title="Verified Reviews" data-title-size="15" data-size-stars="12" data-element-id="1" data-lang="en">
                </div>
            </div>
        </div>
        <div class="btn-rev">
            <a href="/reviews/" class="reviewreal-button">VIEW REAL REVIEWS</a>   
        </div>
    </div>
 </div>

 <div class="homepage-adverts-section parallax">
    <div class="ads-abs">
    <div class="ads-text">
        <h1 class="animation-element fade-in in-view">Everything you need in a good night’s sleep </h1>
        <span class="animation-element slide-left-long delay-1000 in-view" style="color: #132448;">Getting a perfect sleep has never been this easy.</span>
    </div>
    <div class="ads-content">
        <div class="animation-element slide-up delay-1000 in-view">
            <div class="animation-element fade-in delay-1000 in-view">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/ad-icon.png?t=1623829377">
            </div>
            <div class="ads-content-text context-grn">
                <h3 class="">Organic Reviews</h3>
                <p class=" ">Icon Sleep doesn’t rely on incentivized reviews – we are confident that our customers will give us organic feedback.</p>
            </div>
        </div>
        <div class="animation-element slide-up delay-1000 in-view green-context">
            <div class="animation-element fade-in delay-1000 in-view">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/paid-reviews-icon-new-.png?t=1623829378">
            </div>
            <div class="ads-content-text ">
                <h3 class=" ">No Hidden Costs</h3>
                <p class=" ">We help our customers save hundreds of dollars through honest pricing and not having costly advertising campaigns.</p>
            </div>
        </div>
        <div class="fancy-div animation-element slide-up delay-1000 in-view">
            <div class="animation-element fade-in delay-1000 in-view">
               <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/packaging-icon-new.png?t=1623829379"> 
            </div>
            <div class="ads-content-text">
                <h3 class=" ">Ergonomic Packaging</h3>
                <p class=" "> Your mattress is efficiently packed and shipped in a recyclable box for hassle-free handling and unboxing.</p>
            </div>
        </div>

    </div>
    </div>
</div>


<div class="blog-heading">
        <h2 class="fade-in">Read The <span>Slumbertales</span></h2>        
        <p>Exciting, fresh, and relevant blogs every now and then.</p>
    </div>

<div class=”blog” >
{{#each blog.recent_posts}}
    <div class="blogPost fade-in from-bounce-in duration-1000">
    {{#if thumbnail}}

        <figure>
            <a href="{{url}}">
                <img src="{{getImage thumbnail 'blog_size'}}" alt="{{thumbnail.alt}}" title="{{thumbnail.alt}}">
            </a>
        </figure>
    {{/if}}
<section class="homepage-blog">
    <p class="card-text blogPost-publishedDate">{{date_published}}</p>
    <h5><a href=”{{url}}”>{{title}}</a></h5>
<!--<p>{{summary}}</p>    -->
</section> 

</div>
{{/each}}


</div>


<div class="blogPosts-more">
        <a href="/blog/">View All Blogs</a>
    </div>


<div class="test-mattresses-section">
    
    <div class="test-mattresses-title">
        <h2 class="footer-mattress-title animation-element invi slide-left-long delay-1000 in-view">Still in doubt? <br>Put us to the test.</h2>
        <a href="/custom-categ/" class="mattress-button animation-element invi bounce-in duration-1500 in-view">Shop Mattresses</a>         
    </div>
    
    
</div>





