{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer support" role="contentinfo">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="footer-container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h3 class="footer-info-heading">{{lang 'social.connect'}}</h3>
                    {{> components/common/social-links}}
            </article>
        {{/if}}
        <section class="footer-info">
            
            <article class="footer-info-col footer-info-col--small mobile" data-section-type="footer-webPages">
                <h3 class="footer-info-heading">Company</h3>
                <p style="margin-bottom: 0; margin-top: 0;">
                    <!-- {{lang 'forms.contact_us.telephone'}} -->
                    <br>Email: <br>
                    <a class="email-footer-sec" href="mailto:support@icon-sleep.com">support@icon-sleep.com</a></p>
                <p style="margin-top: 0;">Service Hours: <br><span style="color: #132448; font-weight: bold;">Mon-Fri: 8am-5pm</span></p>            
            </article>
            
             <article class="footer-info-col footer-info-col--small mobile" data-section-type="footer-webPages"> 
        
                <h3 class="footer-info-heading">{{lang 'footer.navigate'}}</h3>
                <ul class="footer-info-list">
                    {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
            </article>
            
            
            <article class="footer-info-col footer-info-col--small mobile" data-section-type="footer-webPages">
                <h3 class="footer-info-heading">Support</h3>
                <ul class="footer-info-list">
                   
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                    <li>
                        <a href="/support/">Support Center</a>
                    </li>
                    <li>
                        <a href="/mattress-care-setup/">Setup & Care Instructions</a>
                    </li>
                    <li>
                        <a href="/faqs/">FAQs</a>
                    </li>
                     <li>
                        <a href="/shipping-transit-chart/">Shipping Transit Chart</a>
                    </li>
                     <li>
                        <a href="/product-certification/">Product Certification</a>
                    </li>
                </ul>
            </article>

            




            <article class="footer-info-col footer-info-col--small mobile" data-section-type="newsletterSubscription">
           
                {{#if theme_settings.social_icon_placement_bottom}}
                    <h3 class="footer-info-heading">Connect</h3>
                    <a class="like-us" href="https://www.facebook.com/IconSleepMattresses/">
                    <img class="like-us-img" src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/fb.png?t=1623205504&_ga=2.146581108.1588106158.1623054117-1835193253.1617777202">
                 Like us on Facebook
                    </a>
                    {{> components/common/social-links}}
                {{/if}}
             
            </article>
        </section>
        
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
        {{#if settings.paypal_commerce_credit_message}}

        <div class="footer-copyright">
            <p class="paypal-credit">{{nl2br settings.paypal_commerce_credit_message}}</p>
        </div>
        {{/if}}

<div class="footer-flex">
    <div class="footer-content"> 
        <div>
            {{#if theme_settings.show_copyright_footer}}
                <div class="footer-copyright">
                    <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
                </div>
            {{/if}}
        </div>
 <div class="logo-footer">
                <ul>
                    <div>
                        <li>
                          <a class="icon icon--logo-visa"  href="#" target="_blank">
                             <svg>
                                 <use xlink:href="#icon-logo-visa"></use>
                             </svg>
                         </a>
                     </li>
                     </div>
                     <div>                        
                        <li>
                             <a class="icon icon--logo-mastercard"  href="#" target="_blank">
                                <svg>
                                    <use xlink:href="#icon-logo-mastercard"></use>
                                </svg>
                            </a>
                        </li>
                        </div>
                    <div>
                     <li class="socialLinks-item">
                        <a class="icon icon--logo-american-express" href="#" target="_blank">
                            <svg>
                                <use xlink:href="#icon-logo-american-express"></use>
                            </svg>
                        </a>
                    </li>
                    </div>
                    <div>
                    <li>
                         <a class="icon icon--logo-paypal"  href="#" target="_blank">
                            <svg>
                                <use xlink:href="#icon-logo-paypal"></use>
                            </svg>
                        </a>
                    </li>
                    </div>
                </ul>                       
        </div> 

    </div>
    <!-- <div class="footer-copyright">
                    
        {{> components/common/payment-icons}}

</div> -->
        <!-- <div>
            {{#if theme_settings.show_powered_by}}
            <div class="footer-copyright">
                <p class="powered-by">{{lang 'footer.powered_by'}} <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
            </div>
        {{/if}}
        </div> -->

    </div>
    </div>
</footer>