<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>


{{/if}}
<!-- 
<div class="top-header">
        <div>
            <label class="coupon-text">Feel the warmth of comfort this Valentine's Day.</label>
        </div>
        <div>
            <span class="coupon-textcode">Enjoy 50% off on all mattresses</span>
        </div>
        <div>
             <button type="button" class="btn btn-info">Shop Now </button>
        </div>
            
    
</div> -->
<!-- <div class="top-header sticky rel">
        <div>
            <label class="coupon-text">Feel the warmth of comfort this Valentine's Day. <span class="coupon-textcode">Enjoy 50% off on all mattresses</span></label>
        </div>
        <div>
            
        </div>
        <div>
             <button type="button" class="btn btn-info">Shop Now </button>
        </div>
            
    
</div> -->


 <div class="page-header top-header sticky rel">
        <div>
            <label class="coupon-text">Feel the warmth of comfort this Valentine's Day. <span class="coupon-textcode">Enjoy 50% off on all mattresses</span></label>
        </div>
        <div>
            
        </div>
        <div>
             <button type="button" class="btn btn-info">Shop Now </button>
        </div>
            
    
</div>



<header class="header header-bannerimg sticky-fix" role="banner">

    <div class="header-div ">
         <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
  
    <div class="links-header">
        {{#if page_type '===' 'default'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
        {{else}}
            <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </div>
        {{/if}}
    </div>
<!--     <div class="header-logo header-logo--center sticky ">
            <a href="https://icon-sleep.com/">
                <span class="header-logo-text with-image">
                    <img class="header-logo-image" src="https://cdn11.bigcommerce.com/s-z2qdisybty/images/stencil/200x50/logo_1581644467__16243.original.png" alt="Icon Sleep" title="Icon Sleep">
                </span>
            </a>
        </div> -->

    <div class="links-header head-nav">
         <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
    </div>

    <div class="links-header">
      {{> components/common/navigation}}
    </div>
</div>
   
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
