@media only screen and (max-width: 992px) {
    .another-mattress-description.night-desc {
        width: 60%;
        margin-left: 5em;
    }
    .another-mattress.night-div {
        top: 10%;
    }
    .most-affordable-desc {
        position: absolute;
        top: 15%;
        left: 4%;
        line-height: 1;
        font-size: 18px;
        font-weight: 500;
    }
    .flex-mattrees-section > div.banner-div1 {
        width: 55%;
        margin: 0;
        padding: 0;
        background-size: cover;
    }
    .flex-mattrees-section div.usbanner-div {
        width: 45%;
    }
    .usbanner-div > img {
        width: 100%;
        position: relative;
        height: 100%;
    }
    .heroCarousel.rev-carousel .slick-dots {
        /* bottom: -128px; */
        text-align: left;
        left: 7.5%;
        top: 47em;
    }
}
@media only screen and (max-width: 900px) {

    .navPages ul {
        width: 50%;
        list-style: none;
        text-transform: uppercase;
        margin-left: 28rem;
    }

.banner-description {
    position: absolute;
    top: 61%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
    article div.header-logo-image-container {
        max-height: none;
        width: 10em;
    }

    article div.header-logo-image-container 
.flex-container {
        display: flex;
        max-width: 85%;
        flex-direction: column;
        margin: 0px auto;
    }
    .aboutus-paragraph {
        margin-left: 2em;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        text-align: left;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0em;
        margin-right: 1em;
    }

    /*BLOG*/
    input.button.button--primary.form-prefixPostfix-button--postfix.blog-btn{
        width: 14em;
    }
    input#nl_email {
        width: 8em;
    }
    article.sectionarticle .blog-thumbnail.blog-img {
    margin-top: -10em;
}

/* REVIEW */
.stamped-review-header .created, .stamped-review-header-byline .created {
    position: absolute;
    float: right !important;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    margin-left: 27em;
}
.stamped-review-avatar {
    position: absolute;
    bottom: 0;
    right: 71% !important;
    left: 0;
    margin-right: auto;
}
article div.header-logo-image-container .header-logo-image.footer-logo {
    /* max-height: 2.35714rem; */
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    height: 6em;
    position: relative;
    left: 0;
    top: 0em;
}

.footer-info {
    max-width: 80%;
    width: auto;
    font-size: 0;
    display: flex;
    -ms-flex-align: start;
    align-items: start;
    padding-top: 119px;
    padding-bottom: 30px;
}
.heroCarousel.rev-carousel .slick-dots {
    text-align: left;
    left: 40.5%;
    top: 48em;
}


}
@media only screen and (max-width: 867px) {
    article.sectionarticle .blog-thumbnail.blog-img {
        margin-top: -13em;
    }

.col-sm-12 {
    /*-ms-flex: 0 0 100%; */
    /* flex: 0 0 100%; */
    max-width: 33%;
}
.stamped-review-avatar {
    position: absolute;
    bottom: 0;
    right: 68% !important;
    left: 0;
    margin-right: auto;
}

.flex-mattrees-section {
    height: 26rem;
}
.night-sleep-div > img {
    height: 100%;
}
.feature-rich-div > img {
    width: 100%;
    position: relative;
    height: 100%;
}
.most-affordable-desc {
    position: absolute;
    top: 5%;
    left: 4%;
    line-height: 1;
    font-size: 18px;
    font-weight: 500;
}
.flex-mattrees-section.us {
    padding-top: 0;
    margin-bottom: 0;
    height: auto;
}
}

@media only screen and (max-width: 812px) {
    .navPages-quickSearch {
        border-bottom: 1px solid #fff;
        margin-bottom: 0.78571rem;
    }
.footer-info {
    max-width: 80%;
    width: 100%;
    font-size: 0;
    display: grid;
    padding-top: 0;
    padding-bottom: 30px;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin: 0 auto;
}
.footer-info-col--small {
    width: auto;
    display: grid;
    color: #ffffff;
}
article div.header-logo-image-container .header-logo-image.footer-logo {
    display: none;
}
.”blog” {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    row-gap: 0;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 1em;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
}
.blogPost {
    width: 100%;
    display: grid;
    max-width: 100%;
}
.”blog” div {
    border: 1px solid #cccccc;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-left: 1em;
    margin-right: 1em;
}

.heroCarousel-description {
    max-width: 100%;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
}

article div.header-logo-image-container {
    height: 12em; 
    max-height: none; 
    width: auto;
}

/* ABOUT US*/
.flex-container {
    display: -ms-flexbox;
    display: flex;
    max-width: 85%;
    flex-direction: column;
    margin: 0px auto;
}
.aboutus-paragraph {
    margin-left: 2em;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0em;
    margin-right: 1em;
}
.abs-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    margin: 0 auto;
}
.aboutus-bottom {  
    height: 46em;
}


/*FAQS*/
.banner-description, h1 {
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    margin: 15px 0;
    text-transform: uppercase;
}


/*BLOG*/
article.sectionarticle .blog-thumbnail.blog-img {
    margin-top: -12em;
}
    input#nl_email {
        width: 8em;
    }
article.sectionarticle .blog-thumbnail.blog-img {
    margin-top: -12em;
}
input.button.button--primary.form-prefixPostfix-button--postfix.blog-btn{
        width: 13em;
}
.heroCarousel-content {
    width: 70% !important;
    max-height: initial;
}
    
.flex-mattrees-section.us {
    margin-top: 0;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1em;
}
    .flex-mattrees-section div.usbanner-div {
        width: 100%;
    }
        .flex-mattrees-section>div.banner-div1 {
        width: 100%;
    }

    .footer-info:before, .footer-info:after {
        display: none;
    }
// REVIEW BANNER SECTION
.review-banner > img {
    width: 100%;
    position: relative;
    height: 14em;
    border-radius: 40px;
}
.review-banner-con {
    position: absolute;
    top: 34%;
    z-index: 1;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px;
    flex-direction: column;
}
div > a.reviewreal-button {
    right: 4%;
    position: absolute;
    top: 62%;
}
.review-right-con > img {
    margin-left: 19%;
    margin-top: 79px;
}

}


@media only screen and (max-width: 800px) {
    .navPages ul {
        width: 95%;
        list-style: none;
        text-transform: uppercase;
        margin-left: 1rem;
        line-height: 1;
    }
    .head-cart-icon {
        right: 0;
        position: absolute;
    }
    .header-div {
        padding-top: 0em;
        margin: 0;
        width: 100%;
    }
    img.header-logo-image.footer-logo {
        position: relative;
        margin-left: 0;
    }
    .links-header {
        margin: 0;
    }
    .header-logo {
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .navPages-container.is-open {
        display: block;
        padding-top: 55px;
        z-index: 20;
        left: 0;
        margin: 0;
    }

.transit-content > p {
    /* margin-bottom: 0; */
    font-size: 18px;
    width: 86%;
    margin: 0 auto;
}

a.navPages-action {
    color: #fff !important;
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 14px;
    font-family: Almarai!important;
    font-size: 18px;
    text-transform: capitalize;
    text-align: left;

}
li.navPages-item {
    text-align: center;
    color: #fff;
    text-transform: lowercase;
}
.navUser {
    padding: 0 0rem;
    right: 25%;
    top: 0.0625em;
    transform: none;
    z-index: 50;
    width: 100%;
}
.navPages {
    background-color: #e5e5e5;
    height: 100rem;
    overflow-y: auto;
    padding: 1.5rem;
    position: relative;
    left: 0;
    background-size: cover;
    width: auto;
    top: 2.5rem;
}
.navPages {
    background-color: #174567;
}

input#nav-menu-quick-search {
    display: none;
}

.form-prefixPostfix .form-input {
    width: 100%;
    border: 1px solid white;
    background: white;
    height: 4rem;
}
input.button.button--primary.form-prefixPostfix-button--postfix.srch-button {
    margin-top: 10px;
    width: 100%;
    margin-left: 0;
    height: 4rem;
    background: #132448;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}
.form-prefixPostfix.wrap.hide {
    display: block;
    left: 0;
}
.mattress-button-div {
    background: #132448;
    padding: 5px 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.mattress-title>h2 {
    text-align: center;
    margin-top: 0;
    /* width: 71%; */
    font-size: 18px;
}
span.shop-button {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}
.homepage-mattress-section.row.mattresses-div {
    display: block;
}
.homepage-mattress-section.row.mattresses-div>div {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.slick-dots li button {

    display: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    width: 100%;
    margin-top: 0;
    max-width: 100%;
    background-size: cover;
}

.ads-content {
    flex-direction: column;
}
.homepage-adverts-section.parallax.every-need-section {
    width: 95%;
}
}

@media only screen and (max-width: 768px) {

strong.author {
    margin-left: 4%;
}

.stamped-verified-badge {
    color: #1cc286;
    bottom: 0;
    right: 0;
    left: 150px;
    position: absolute;
}

.stamped-review-avatar {
    position: absolute;
    bottom: 0;
    right: 79% !important;
    left: 0;
    margin-right: auto;
}


a.navPages-action {
    color: #fff !important;
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 14px;
    /* text-transform: unset; */
}

.navPages {
    background-color: #174567;
}


    article.sectionarticle .blog-thumbnail.blog-img {
    margin-top: -12em;
}

.flex-mattrees-section {
    height: auto;
    flex-direction: column;
}
.flex-mattrees-section > div.night-sleep-div {
    width: 100%;
    position: relative;
    height: 31rem;
}
.certified-prod-div {
    width: 100%;
    position: relative;
}
.night-sleep-div > img {
    width: 100%;
    position: relative;
    height: 100%;
    object-fit: cover;
}
.long-term-div {
    width: 100%;
    position: relative;
    height: 31rem;
    margin-bottom: 1em;
}
.flex-mattrees-section > div.feature-rich-div {
    width: 100%;
    position: relative;
    height: 31rem;
}

.certified-prod-div {
    width: 100%;
    height: 31em;
    position: relative;
    margin-top: 1em;
}
.certified-prod-div > img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}
.heroCarousel.rev-carousel .slick-dots {
    text-align: left;
    left: 40.5%;
    top: 50em;
}
.another-mattress.cert-div {
    text-align: left;
    position: absolute;
    top: 30%;
}

.another-mattress.cert-div .another-mattress-img {
    margin-left: 6%;
}
.another-mattress.long-term-con {
    top: 30%;
}
.another-mattress.feature-matt {
    text-align: left;
    position: absolute;
    top: 30%;
}

}



@media only screen and (max-width: 736px) {
    article.sectionarticle .blog-thumbnail.blog-img {
        margin-top: -13em;
    }
    input.button.button--primary.form-prefixPostfix-button--postfix.blog-btn{
        width: 10em;
    }
    .stamped-review-avatar {
        position: absolute;
        bottom: 0;
        right: 77% !important;
        left: 0;
        margin-right: auto;
    }
    .most-affordable-desc h2 {
        width: 60%;
        line-height: 1.3;
        color: #174567;
        font-weight: 500;
        font-size: 28px;
        text-transform: capitalize;
    }
    .heroCarousel.rev-carousel .slick-dots {
        text-align: left;
        left: 40.5%;
        top: 52em;
    }
    
}


@media only screen and (max-width: 667px){
    .logo-footer ul {
        display: -ms-flexbox;
        display: flex;
        list-style-type: none;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
    }
    .footer-flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        flex-direction: column;
    }
.banner-description, h1 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0;
    text-transform: uppercase;
}
article.sectionarticle .blog-thumbnail.blog-img {
    margin-top: 0em;
}
input.button.button--primary.form-prefixPostfix-button--postfix.blog-btn{
    width: 8em;
}
article.sectionarticle .blog.blog-flex {
    display: block;
}
.articlecontainer {
    display: block;
    width: 85%;
    margin: 0 auto;
}
.left-half {
    max-width: 100%;
}
article.sectionarticle .blog-post-body {
    width: 50%;
    margin-left: 2em;
}
article.sectionarticle .blog-post-body {
    width: 100%;
    /* margin-left: 2em; */
}
.right-half {
    max-width: 100%;
}

    .text-container {
    /* margin-bottom: 4em; */
    display: -ms-grid;
    display: grid;
    max-width: 80%;
    margin: 0 auto;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    /* height: auto; */
    margin-bottom: 2em;
    margin-top: 2em;
}
.cares-img img {
    width: 100%;
}

.cares-img {
    width: 100%;
}
.homepage-packaging-section {
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 90%;
}
.cares-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #cccccc;
    width: 100%;
}
.row {
    text-align: center;
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
}
.col-sm-12 {

    max-width: 33%;
}
.stamped-review-avatar {
    position: absolute;
    bottom: 0;
    right: 75% !important;
    left: 0;
    margin-right: auto;
}
.accordion-faqs {
    transition: .4s;
    text-align: left;
    display: block;
    color: #174675;
    border-bottom: 2px solid #174675;
    width: 100%;

}
button.accordion-faqs:hover, button.accordion-faqs:focus, .button.accordion-faqs:hover, .button.accordion-faqs:focus {
    /* color: #FFFFFF; */
    transition: .4s;
    text-align: left;
    display: block;
    color: #174675;
    border-bottom: 2px solid #174675;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: transparent;
}
.panel-faqs {
    padding: 0 18px;
    max-height: 0;
    margin-top: 1%;
    overflow: hidden;
    transition: max-height .6s ease-out;
    width: 100%;
}

// .button--primary {
//     border-color: #fff;
//     color: #fff;
//     text-decoration: none;
//     text-transform: uppercase;
//     background: #132448;
//     padding: 15px 15px 15px 15px;
//     font-weight: 700;
//     border-radius: 8px;
//     font-family: Almarai !important;
// }
.heroCarousel-description {
    max-width: 100%;
    font-weight: 600;
    font-size: 20px;
    font-family: Almarai !important;
}
 .heroCarousel-title {
    font-size: 45px;
    font-weight: 400;
    text-transform: inherit;
    font-family: Almarai !important;
}   
.footer-content {
    display: grid;
    place-content: center;
    place-items: center;
    margin: 1em 0;
}   
.logo-footer {
    padding: 0.875rem;
    width: auto;
}

}
@media only screen and (max-width: 637px){
    .heroCarousel-content {
        width: 85% !important;
    }
    .slick-list {

        margin-bottom: 8px;
    }
    .carousel-rev-con {
        padding-left: 0;
        flex-direction: column-reverse;
    }
    .carousel-rev-con > div {
        width: 100%;
    }
    h2.see-why-text {
        padding-top: 20px !important;
    }

    .review-right-con > img {
        margin-left: 9% !important;
    }
    .heroCarousel.rev-carousel .slick-dots {
        text-align: left;
        left: 35.5%;
        top: 78em;
    }
}
@media only screen and (max-width: 568px){
    .most-affordable-desc h2 {
        width: 65%;
        line-height: 1.3;
        color: #174567;
        font-weight: 500;
        font-size: 28px;
        text-transform: capitalize;
    }
    .heroCarousel-description {
        max-width: 100%;
        font-weight: 600;
        font-size: 20px;
        font-family: Almarai !important;
        color:  #132448;
    }
    .button--primary {
        border-color: #fff;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background: #132448;
        padding: 15px 15px 15px 15px;
        font-weight: 700;
        border-radius: 8px;
    }
    .heroCarousel-content {
        width: 95% !important;
    }
    .heroCarousel-title {
        font-size: 46px;
        font-weight: 400;
        text-transform: inherit;
        font-family: Almarai !important;
        color: #132448;
        text-transform: uppercase;
    }
    .stamped-review-avatar {
        position: absolute;
        bottom: 0;
        right: 70% !important;
        left: 0;
        margin-right: auto;
    }
    .row {
        text-align: center;
        margin: 0 auto;
        /* max-width: 95%; */
        width: 100%;
        display: -ms-flexbox;
        display: block;
    }
    .col-sm-12{
            /* -ms-flex: 0 0 100%; */
        /* flex: 0 0 100%; */
        max-width: 100%;
    }
    
    header.header.header-bannerimg.sticky-fix {
        top: 0;
        z-index: 1020;
        height: 8em;
    }
    
    .heroCarousel .slick-next, .heroCarousel .slick-prev {
        top: 47%;
        transform: translateY(-50%);
        margin: 0;
    }
    
    .warranty-banner img {
        width: 100%;
        height: 12em;
        background-size: cover;
        text-align: center;
        background-position: center bottom;
        position: relative;
    }
    .faqs-abs-content .p {
        font-size: 16px;
        padding-top: 0;
        color: #fff;
        text-transform: none;
        margin: 0;
    }
    .faqs-abs-content {
        text-align: center;
        width: 90% !important;
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        margin: 0;
    }
    
    .privacy-content {
        text-align: center;
        width: 80% !important;
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 8em;
    }
    .privacy-content > p {
        color: #fff;
        margin-bottom: 1.5rem;
        font-size: 12px;
        font-weight: normal;
    }
    .heroCarousel {
        margin-bottom: 0;
    }
    .flex-mattrees-section > div.banner-div1 {
        background-position: right;
    }
    .review-right-con > img {
        margin-left: 4% !important;
    }
    .another-mattress-description.night-desc {
        width: 60%;
        margin-left: 4em !important;
    }
    .another-mattress-description.feature-m h3{
        font-size: 18px !important;
    }
    .another-mattress-description.long-trm h3{
        font-size: 18px !important;
    }
    .another-mattress-description.cert-prod h3{
        font-size: 18px !important;
    }
    .another-mattress-description.night-desc h3{
        font-size: 18px !important;
    }
    .another-mattress.long-term-con .another-mattress-img {
        margin-left: 7%;
    }
    .another-mattress.cert-div .another-mattress-img {
        margin-left: 7%;
    }
    .another-mattress.feature-matt {
        text-align: left;
        position: absolute;
        top: 40%;
    }
    .another-mattress-description.feature-m {
        margin-left: 2em;
        color: #fff;
        font-family: Almarai !important;
        font-size: 18px;
    }
    .another-mattress.feature-matt .another-mattress-img {
        margin-left: 7%;
    }
    .another-mattress-description.cert-prod {
        margin-left: 2em;
    }
    .another-mattress.cert-div .another-mattress-img {
        margin-left: 6%;
    }

    // REVIEW BANNER SECTION
    .review-banner-con>div {
        width: 50%;
    }
    
    // STILL IN DOUBT SECTION
    .footer-mattress-title {
        font-size: 24px !important;
        font-weight: 500;
        color: white !important;
    }
    .test-mattresses-title {
        text-align: left;
        padding-top: 1%;
        padding-bottom: 5%;
        padding-left: 13%;
    }

}

@media only screen and (max-width:500px){
.navUser-item--cart .navUser-action {
    color: #fff;
    text-decoration: none;
    margin-right: 0;
    display: flex;
}


.navUser-item-cartLabel {
    display: -ms-flexbox;
    display: inline;
    -ms-flex-align: center;
    align-items: center;
    text-transform: capitalize;
    margin-left: 0;
}
div.stamped-review {
    position: relative;
}
.stamped-review-avatar {
    position: absolute;
    bottom: 0;
    right: 66.5% !important;
    left: 0;
    margin-right: auto;
}

.support-form div h2 {
    line-height: 1.5;
    color: #1a4769;
    /* font-size: 25px; */
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0;
}
.form-header-group .form-header {
    color: #1a4769;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.row {
    text-align: center;
    margin: 0 auto;
    /* max-width: 95%; */
    width: 100%;
    display: -ms-flexbox;
    display: block;
}
.col-sm-12{
        /* -ms-flex: 0 0 100%; */
    /* flex: 0 0 100%; */
    max-width: 100%;
}


// PP
.pp-top-banner > img {
    width: 100%;
    position: relative;
}
.pp-top-banner {
    margin-top: 0%;
}

.privacy-content {
    text-align: center;
    width: 80% !important;
    position: absolute !important;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.privacy-content > h1 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.privacy-content > p {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.logo-footer ul > div {
    margin: 0 2px;
}
.icon {
    height: 2rem;
    width: auto;
    display: flex;
    vertical-align: middle;
}
.heroCarousel.rev-carousel .slick-dots {
    text-align: left;
    left: 30.5%;
    top: 82em;
}
.most-affordable-desc h2 {
    width: 85%;
    line-height: 1.3;
    color: #174567;
    font-weight: 500;
    font-size: 28px;
    text-transform: capitalize;
}
.banner-most-affordable {
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 2%;
    height: 18rem;
}
.banner-most-affordable > img {
    position: relative;
    width: 100%;
    height: 100%;
}
.another-mattress-description.night-desc {
    margin-left: 3em !important;
}
// REVIEW BANNER SECTION
.review-banner-con > div {
    width: 100%;
}
.review-banner-con {
    flex-direction: column;
}
.star-badge {
    margin-top: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
}
.powered-div {
    display: flex;
    justify-content: center;
}
.btn-rev {
    position: relative;
    margin-top: 1em;
    right: 15%;
}
.heroCarousel-title {
    font-size: 36px;
    font-weight: 400;
    text-transform: inherit;
    font-family: Almarai !important;
    color: #132448;
    text-transform: uppercase;
}


}

@media only screen and (max-width: 414px){

.top-header{
    display: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    width: 100%;
    margin-top: 0;
    max-width: 100%;
    background-size: cover;
}
.heroCarousel-slide .heroCarousel-image-wrapper {
    max-height: 42.85714rem;
    margin-top: 14em;
}
.heroCarousel .slick-dots {
    bottom: 1.5rem;
    top: 56em;
    display: none;
}
.heroCarousel .slick-next, .heroCarousel .slick-prev {
    top: 80%;
    transform: translateY(-50%);
    margin: 0;
    display: none;
}
.ads-abs {
    position: relative;
    top: 0;
    left: 5%;
}
.review-right-con > img {
    margin-left: 0!important;
}
.ads-text h1 {
    font-size: 26px;
}
.test-mattresses-title > h2 {
    color: #174567;
    font-size: 18px;
}
.test-mattresses-title > h2 > span {
    color: #00d2ff;
    font-weight: 700;
    font-size: 18px;
}

  .heroCarousel-description {
    max-width: 100%;
    font-weight: 600;
    font-size: 20px;
}  

header.header.header-bannerimg.sticky-fix {
    position: fixed;
    top: 0;
    z-index: 1020;
    height: 9em;
}
    header.header.header-bannerimg {
    height: 7em;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}
.header-logo {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.footer-info {
    /* margin: 0 auto; */
    max-width: 90%;
    width: auto;
    font-size: 0;
    display: -ms-flexbox;
    display: grid;
    -ms-flex-align: start;
    align-items: baseline;
    padding-top: 0;
    padding-bottom: 30px;
    margin-left: 0;
    justify-items: center;
}

article.footer-info-col.footer-info-col--small.mobile p {
    color: #ffffff;
}
article div.header-logo-image-container .header-logo-image.footer-logo{
    width: 85px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(50%);
}
article div.header-logo-image-container {
    height: 12em;
    max-height: none;
    width: 20em;
}

.flex-links {
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
    color: #ffffff;
}

    .top-header{
        display: none;
    }
a.navPages-action {
    color: #fff !important;
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 14px;
    /* text-transform: unset; */
}
    .text-container {
    /* margin-bottom: 4em; */
    display: -ms-grid;
    display: grid;
    max-width: 80%;
    margin: 0 auto;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    /* height: auto; */
    margin-bottom: 2em;
    margin-top: 2em;
}
.cares-img img {
    width: 100%;
}

.cares-img {
    width: 100%;
}
.homepage-packaging-section {
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 90%;
}

.cares-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #cccccc;
    width: 100%;
}
.”blog” {
    display: block;
    margin-bottom: 4em;
    margin-left: 0;
    margin-right: 0;
    width: 95%;
    margin-inline: auto;
}
.”blog” div {
    border: 1px solid #cccccc;
    align-items: center;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;
    /* margin-right: 1em; */
}


.footer-info-col {
    width: 70%;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.move {
    margin-left: 0em;
}
.footer-info {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    font-size: 0;
    padding-bottom: 30px;
    padding-top: 0;
    display: contents;
}

/*ABOUT US*/

.aboutus-mission {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4em;
    flex-direction: column;
}
.about1 {
    width: 100%;
    position: relative;
}

.about2 {
    width: 100%;
    position: relative;
}
.aboutus-paragraph {
    margin-left: 0em;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0em;
    margin-right: 1em;
}
.aboutus-vision {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.vision-flex {
    margin-top: 4em;
    margin-bottom: 5em;
    width: 100%;
}
.vision {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    /* padding-left: 1em; */
    justify-content: center;
}
.vision-img {
    width: 100%;
    position: relative;
}
.vision-img img {
    width: 100%;
}

.aboutus-bottom {
    text-align: center;
    background: url("../img/about-bottom-img.png");
    height: 39em;
    background-size: cover;
    text-align: center;
    background-position: center bottom;
    margin-bottom: -8em;
    padding: 0em;
}

.aboutus-bottom h2 {
    color: #00d2ff;
    font-size: 18px;
    font-weight: 700;
    margin: 15px 10px;
}
.aboutus-bottom p {
    color: #fff;
    font-size: 18px;
    margin: 15px 30px;
}

/*BLOG*/
.articlecontainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 85%;
    flex-direction: column;
    margin: 0 auto;
}

.image-banner {
    /* background-image: url(https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/blog-banner.png?t=1616988738&_ga=2.136568244.521169001.1616976684-159984371.1587946592); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 121px;
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-top: 0em;
}

/* FAQS */
.faqs-content {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.faqs-desc {
    text-align: left;
    width: 95%;
    margin: 0 2.5%;
    display: inline-block;
    vertical-align: top;
}

.faqs-title {
    text-align: center;
    width: 61%;
    /* margin: 0 12%; */
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

.banner-description, h1 {
    color: #ffffff;
    font-size: 18px;
    margin: 15px 0;
    text-transform: uppercase;
}

/*REVIEWS*/
.verified-reviews {
    background: #174567;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
}

span#stamped-badge-title {
    color: #ffffff;
}

span#stamped-badge-total {
    color: #ffffff;
}
.verified-reviews h3 {
    color: #00d2ff;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    margin: 15px 15px;
}

.verified-reviews p {
    margin: 0;
    margin-left: 1em;
    color: #fff;
}


.stamped-review-avatar {
    position: absolute;
    bottom: 0;
    right: 60.5% !important;
    left: 0;
    margin-right: auto;
}

.stamped-review-header .created, .stamped-review-header-byline .created {
    position: absolute;
    float: right !important;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    margin-left: 20em;
}
/*SUPPORT*/

.support-form div {
    width: 83%;
    margin: 0 5%;
    display: block;
    vertical-align: top;
    text-align: left;
}

.support-form div {
    width: 90%;
    margin: 0 5%;
    display: block;
    vertical-align: top;
    text-align: left;
}

.support-form div:last-child {
    width: 100%;
    /* margin: 0 auto; */
}

.rightside {
    padding-top: 1em;
    position: absolute;
    top: 90%;
}
.banner-description {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100% !important;
}

.banner-description h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0;
}
.banner-description, h5 {
    color: #ffffff;
    font-size: 16px;
    margin-top: 0;
    width: 100% !important;
    text-transform: inherit;
}
.support-text div {
    width: 60%;
    margin: 10px 5px;
    display: inline-block;
    vertical-align: middle;
}

/* BLOG */
article.sectionarticle .blog-flex {
    display: block;
}

article.sectionarticle .blog-post-body {
    width: 85%;
    margin: 0 auto;
}

.left-half {
    max-width: 100%;
}

.right-half {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

i.fas.fa-envelope-open-text.icon {
    font-size: 2.2em;
    color: white;
    text-align: center;
    top: 40%;
    position: absolute;
    left: 58%;
    transform: translate(-50%, -50%);
}

article.blog.blog-flex .blog-thumbnail.blog-img {
    padding-top: 18em;
}

article.sectionarticle .blog-thumbnail.blog-img {
    margin-top: -17em;
}

.blog-post-body {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 85%;
}

/* SET UP MATTRESSES */
.instruction-steps {
    display: block;
}

.row {
    text-align: center;
    margin: 0 auto;
    /* max-width: 95%; */
    width: 100%;
    display: -ms-flexbox;
    display: block;
}
.col-sm-12{
        /* -ms-flex: 0 0 100%; */
    /* flex: 0 0 100%; */
    max-width: 100%;
}
.pp-top-banner {
    margin-top: 31%;
}

.privacy-content {
    text-align: center;
    width: 80% !important;
    position: absolute !important;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shipping-top-banner>img {
    position: relative;
    width: 100%;
    margin-top: 30%;
}
.faqs-abs-content {
    text-align: center;
    width: 90% !important;
    position: absolute !important;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    margin: 0;
}


}
@media only screen and (max-width: 375px){
.stamped-review-avatar {
    position: absolute;
    bottom: 0;
    right: 57.5% !important;
    left: 0;
    margin-right: auto;
}

.row {
    text-align: center;
    margin: 0 auto;
    /* max-width: 95%; */
    width: 100%;
    display: -ms-flexbox;
    display: block;
}
.col-sm-12{
        /* -ms-flex: 0 0 100%; */
    /* flex: 0 0 100%; */
    max-width: 100%;
}

.warranty-banner img {
    width: 100%;
    height: 8em;
    background-size: cover;
    text-align: center;
    background-position: center bottom;
    position: relative;
}
.pp-top-banner {
    margin-top: 35%;
}
.us-banner-description > h3 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}
.us-banner-description {
    margin-left: 3% !important;
    line-height: 1.2;
    width: 85%;
    font-size: 14px;
}
// REVIEW BANNER SECTION
.review-banner > img {
    width: 100%;
    position: relative;
    height: 20em;
    border-radius: 40px;
}
.powered-div {
    padding-left: 1.5em;
}
.review-banner-con {
    padding: 0 0;
}
.heroCarousel-title {
    font-size: 28px;
    font-weight: 400;
    text-transform: inherit;
    font-family: Almarai !important;
    color: #132448;
    text-transform: uppercase;
}

}
@media only screen and (max-width: 360px){
strong.author {
    margin-left: 7%;
}
.stamped-review-avatar {
    position: absolute;
    bottom: 0;
    right: 54.5% !important;
    left: 0;
    margin-right: auto;
}
.stamped-review-header .created, .stamped-review-header-byline .created {
    position: absolute;
    float: right !important;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    margin-left: 15em;
}
.row {
    text-align: center;
    margin: 0 auto;
    /* max-width: 95%; */
    width: 100%;
    display: -ms-flexbox;
    display: block;
}
.col-sm-12{
        /* -ms-flex: 0 0 100%; */
    /* flex: 0 0 100%; */
    max-width: 100%;
}


// PP
.pp-top-banner > img {
    width: 100%;
    position: relative;
}
.pp-top-banner {
    margin-top: 0%;
}

.privacy-content {
    text-align: center;
    width: 80% !important;
    position: absolute !important;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.privacy-content > h1 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.privacy-content > p {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.pp-top-banner {
    margin-top: 35%;
}

.shipping-top-banner {
    margin-top: 6%;
}
}
@media only screen and (max-width: 320px){

.stamped-review-avatar {
    position: absolute;
    bottom: 0;
    right: 48.5% !important;
    left: 0;
    margin-right: auto;
}

.navPages {
    background-color: #174567;
}


.row {
    text-align: center;
    margin: 0 auto;
    /* max-width: 95%; */
    width: 100%;
    display: -ms-flexbox;
    display: block;
}
.col-sm-12{
        /* -ms-flex: 0 0 100%; */
    /* flex: 0 0 100%; */
    max-width: 100%;
}
.heroCarousel.rev-carousel .slick-dots {
    text-align: left;
    left: 25.5%;
    top: 82em;
}
.heroCarousel-title {
    font-size: 24px;
    font-weight: 400;
    text-transform: inherit;
    font-family: Almarai !important;
    color: #132448;
    text-transform: uppercase;
}
.heroCarousel-content {
    width: 100% !important;
}
}

@media only screen and (max-width: 292px){
    .faqs-abs-content {
        text-align: center;
        width: 100% !important;
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }
    .faqs-abs-content, h1 {
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        margin: 3px;
        text-transform: uppercase;
    }

    .faqs-abs-content p {
        font-size: 12px;
        width: 100%;
        font-weight: normal;

    }
    // Product Certification

    .certipur-inside {
        text-align: center;
        width: 80% !important;
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 39em;
    }

    .certification-bottom h2 {
        color: #00d2ff;
        font-size: 32px;
        font-weight: 700;
        margin: 32px 0;
        line-height: 1.5;
    }
    .cert-con {
        padding: 2em 1em;
    }
    .certification-bottom {
        background: url(../img/certification-bottom-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 100% 39em;
        text-align: center;
        height: 35em;
    }

    .care-banner img {
        position: relative;
        width: 100%;
        height: 7em;
    }
    .faqs-abs-content p {
        font-size: 12px;
        width: 100%;
        font-weight: normal;
    }
    .after-text {
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        margin: 0;
    }

    .warranty-banner img {
        width: 100%;
        height: 8em;
        background-size: cover;
        text-align: center;
        background-position: center bottom;
        position: relative;
    }

    .pp-top-banner {
        margin-top: 44%;
    }
    .privacy-content {
        text-align: center;
        width: 90% !important;
        position: absolute !important;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .shipping-top-banner {
        margin-top: 15%;
    }
    .faqs-abs-content.ship-con {
        margin-top: 3em;
    }
    .heroCarousel.rev-carousel .slick-dots {
        text-align: left;
        left: 22.5%;
        top: 85em;
    }

    .us-banner-description > h3 {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 0;
    }
    .us-banner-description {
        margin-left: 3% !important;
        line-height: 1.2;
        width: 85%;
        font-size: 10px;
    }
}