{{#if settings.data_tag_enabled}}
{{> components/products/carousel products=products list="Featured Products"}}
{{else}}
{{> components/products/carousel products=products}}
{{/if}}

    <div class="productView grn-matt-page" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}}>
    
        {{#each product.reviews.messages}}
            {{#if error}}
                {{> components/common/alert/alert-error error}}
            {{/if}}
            {{#if success}}
                {{> components/common/alert/alert-success success}}
            {{/if}}
        {{/each}}
     
    
        <section class="productView-images" data-image-gallery>
        {{!--
            Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
            for variant/rule image replacement
        --}}
        {{#if product.images.length '>' 1 }}
        {{> components/carousel-content-announcement}}
        {{/if}}
        <figure class="productView-image"
                data-image-gallery-main
                {{#if product.main_image}}
                data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
                {{/if}}
                >
            <div class="productView-img-container">
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                        target="_blank"{{#if schema}} itemprop="image"{{/if}}>
                {{/if}}
                {{> components/common/responsive-img
                    image=product.main_image
                    class="productView-image--default"
                    fallback_size=theme_settings.product_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                    otherAttributes="data-main-image"
                }}
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    </a>
                {{/if}}
            </div>
        </figure>
        <ul class="productView-thumbnails"{{#gt product.images.length 4}} data-slick='{
                "infinite": false,
                "mobileFirst": true,
                "dots": false,
                "accessibility": false,
                "slidesToShow": 4,
                "slidesToScroll": 4
            }'{{/gt}}>
            {{#each product.images}}
                <li class="productView-thumbnail">
                    <a
                        class="productView-thumbnail-link"
                        href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                        data-image-gallery-item
                        data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                        data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                        data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                    >
                    {{> components/common/responsive-img
                        image=this
                        fallback_size=../theme_settings.productview_thumb_size
                        lazyload=../theme_settings.lazyload_mode
                    }}
                    </a>
                </li>
            {{/each}}

        </ul>
        <div class="prodview-shipping grn-mat-shp">
            <div class="grid-ship-details">
                <div>                   
                  
                    <img class="animation-element bounce-in invi duration-1500 delay-00 in-view" src="{{cdn '/assets/img/prodpage/Shipping_icon.png'}}"/>
           
                    
                    <p class="text-capitalize">Free Shipping</p>
                </div>
                <div>                   
                    <img class="animation-element bounce-in invi duration-1500 delay-900 in-view" src="{{cdn '/assets/img/prodpage/Night-Icon.png'}}"/>
                    
                    <p class="text-capitalize">100 Night Sleep Trial</p>
                </div>
                <div>                   
                    <img class="animation-element bounce-in invi duration-1500 delay-600 in-view" src="{{cdn '/assets/img/prodpage/Certified_Icon.png'}}"/>
               
                    <p class="text-capitalize">Certified Products</p>
                </div>
                <div>                   
                    <img class="animation-element bounce-in invi duration-1500 delay-300 in-view" src="{{cdn '/assets/img/prodpage/Warranty_icon.png'}}"/>
             
                    <p class="text-capitalize">Long Term warranty</p>
                </div>
            </div>
        </div>
    </section>
          <section class="productView-details green-matt-details">
            <div class="productView-product green-matt-prod">

                <div class="custom-productTitle green-matt-title">
                    <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
                    <!-- {{#if product.brand}}
                        <h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                            <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
                        </h2>
                    {{/if}} -->
                    <div class="productView-description green-matt-desc" {{#if settings.data_tag_enabled}} data-event-type="product" {{/if}}>
                        {{{product.description}}}
                        {{{snippet 'product_description'}}}
                    </div>
                    <!-- <div id="stamped-reviews-widget" style="display: inline-block;" data-widget-type="site-badge" data-badge-type="minimal" data-title="Verified Reviews" data-title-size="15" data-size-stars="12" data-element-id="2" data-lang="en">&nbsp;</div> -->
                
                </div>
                <div id="stamped-reviews-widget" class="mx-auto grn-matt-stamp" style="display: inline-block;" data-widget-type="site-badge" data-badge-type="minimal" data-title="Verified Reviews" data-title-size="15" data-size-stars="12" data-element-id="2" data-lang="en">&nbsp;</div>
               
               <div class="d-flex align-items-center grn-matt-price">
                    <h4 class="productView-price">Total Price: &nbsp </h4>
                    {{#if product.call_for_price}}
                    <p class="productView-price">
                        <span style="font-size: 28px; font-weight: 800;">{{product.call_for_price}}</span>
                    </p>
                    {{/if}}
                    <div class="productView-price"  style="font-size: 28px; font-weight: 800;">
                        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                            {{> components/products/price price=product.price schema_org=schema}}
                        {{else}}
                            {{> components/common/login-for-pricing}}
                        {{/or}}
                    </div>
               </div>
    
                <!--{{{region name="product_below_price"}}}
    
                {{product.detail_messages}}-->
            </div>
            <div class="productView-options grn-matt-opt {{#if settings.show_wishlist}}has-wishlist{{/if}}">
                <div class="grn-matt-opt-div">
                {{#if product.release_date }}
                    <p>{{product.release_date}}</p>
                {{/if}}
                <form class="form grn-matt-form {{#if theme_settings.enable_circular_swatches}}swatches--round{{/if}}" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                      data-cart-item-add>
                    <input type="hidden" name="action" value="add">
                    <input type="hidden" name="product_id" value="{{product.id}}"/>

                    <div class="cus-options" data-product-option-change style="display:none;">
                        {{#each product.options}}
                            {{{dynamicComponent 'components/products/options'}}}
                            {{else}}
                            {{{dynamicComponent 'components/products/options'}}}
                        {{/each}}
                    </div>
                    <div class="form-qty-cart">
                    {{#if product.event_date}}
                        {{> components/products/event-date}}
                    {{/if}}
               
                        {{> components/products/add-to-cart}}
                      {{#if product.out_of_stock}}
                        {{#if product.out_of_stock_message}}
                            {{> components/common/alert/alert-error product.out_of_stock_message}}
                        {{else}}
                            {{> components/common/alert/alert-error (lang 'products.sold_out')}}
                        {{/if}}
                    {{/if}}
                    </div>
                </form>
    
                {{#if settings.show_wishlist}}
                    {{> components/common/wishlist-dropdown}}
                {{/if}}
                {{#if product.availability}}<div class="productView-availability"><i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-delivery-van" /></svg></i> {{product.availability}}</div>{{/if}}
    
                {{#or product.min_purchase_quantity product.max_purchase_quantity product.gift_wrapping_available product.shipping}}
                    <dl class="productView-info">
                        {{#if product.min_purchase_quantity}}
                            <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                        {{/if}}
                        {{#if product.max_purchase_quantity}}
                            <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                        {{/if}}
                        {{#if product.gift_wrapping_available}}
                            <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                        {{/if}}
                        {{#if product.shipping}}
                            {{#if product.shipping.calculated}}
                                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                            {{else}}
                                {{#if product.shipping.price.value '===' 0}}
                                    <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                    <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                                {{else}}
                                    <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                    <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </dl>
                {{/or}}
    
    
                <div class="prodview-shipping-details grn-matt-ship">
                    <div style="border-right: 1px solid #888;"> 
                        <p class="text-uppercase font-weight-normal">Ships by:</p>
                        <h4>{{moment "now" "MM/DD/YYYY"}}</h4>
                    </div>
                    <div>
                        <p class="text-uppercase font-weight-normal">Delivery by:</p>
                        <h4 class="text-capitalize">Within 2-7 days*</h4>
                    </div>
                </div>
                <div class="learnmore-div">
                    <p style="font-size: 15px; margin-top: 4px; text-align: left;">*To learn more about shipping, check out our <a href="/shipping-transit-chart/" style="color:#00d2ff;"> Shipment Transit Chart.</a></p>
                </div>
                <div class="d-flex justify-content-between align-items-center flexgrn-matt">
                    <div class="font-weight-bold" style="color: #132448;">SPECIFICATIONS</div>
                    <div><img src="{{cdn '/assets/img/prodpage/pllus-icon-img.png'}}" /></div>
                </div>
            </div>
            {{#if theme_settings.show_product_description_below}}
                <div class="productView-scrollToDescription" id="description">
                    <a href="#description{{#if is_ajax}}_{{product.id}}{{/if}}">{{lang 'products.product_details'}} <span class="icon"><svg><use xlink:href="#icon-arrow-down"></use></svg></span></a>
                </div>
              {{/if}}
            </div>
        </section>
    
    
    </div>
    
    
    <div class="green-matt-features">
        <div>
            <div class="grn-ftr-text">
                <h2 class="font-weight-bold text-capitalize text-dark">Sleep Has Never Been This Rewarding</h2>
                <p>Think of three words that best describe your green tea. Healthy. Refreshing. Natural. Thank you. Now infuse these properties with a CertiPUR-US® certified memory foam and you’re in for the most rewarding sleep you’ll ever have. </p>    
            </div>
    
            <div class="matt-ftr-div ">
                <div class="grn-matt-img">
                    <img src="{{cdn '/assets/img/prodpage/active-charcoal.png'}}" />
                </div>
                <div class="grn-matt-img">
                    <img src="{{cdn '/assets/img/prodpage/Compression-tech_icon.png'}}" />
                </div>
                <div class="grn-matt-img">
                    <img src="{{cdn '/assets/img/prodpage/Bio-Foam_icon.png'}}" />
                </div>
                 <div class="grn-matt-img">
                     <img src="{{cdn '/assets/img/prodpage/Evergreen_icon.png'}}" />
                </div>
                 <div class="grn-matt-img">
                     <img src="{{cdn '/assets/img/prodpage/SGS_icon.png'}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="sub-prodview-podimg green-matt-sub">
        <div class="animation-element bounce-in invi duration-1500 in-view">
            <img src="{{cdn '/assets/img/prodpage/cooling.png'}}"/>
            <h5>Cooling & Breathability</h5>
            <p>The most advanced cooling and heat management technology we've ever put on a mattress.</p>
        </div>
        <div class="animation-element bounce-in invi duration-1500 delay-300 in-view">
            <img src="{{cdn '/assets/img/prodpage/spinal.png'}}"/>
            <h5>Top-notch Spinal Support</h5>
            <p>Engineered to provide outstanding durability, support, and pressure relief for sleepers of all sizes.</p>
        </div>
        <div class="animation-element bounce-in invi duration-1500 delay-600 in-view">
            <img src="{{cdn '/assets/img/prodpage/absorb.png'}}"/>
            <h5 class="text">Motion Absorption & Isolation</h5>
            <p>Say goodbye to motion-related sleep interruptions and enjoy greater sleep and better mornings.</p>
        </div>
    </div>
    
    
    <div class="prodview-anatomy green-anatomy" style="margin-bottom: 5rem;">
        <div style="width:49%;" class="green-anatomy-div animation-element slide-left in-view" >
            <img class="position-relative w-100" src="{{cdn '/assets/img/product-page/green-anatomy.gif'}}" />
        </div>
        <div style="padding:0 5%; display: grid; place-content: center;" class="animation-element slide-right in-view">
            <h4 style="color:#18253f; font-weight: 700; font-size: 28px; text-transform: inherit;" >Take A Closer Look.</h4>
            <h4 style="color:#18253f; font-weight: bold; font-size: 28px; text-transform: inherit; margin-top: 0;" >An architecture that assures luxury.</h4>
            <br>
            <ul class="check-blue">
                <li class="animation-element invi fade-in duration-1500 delay-00 in-view">Impossibly soft outer material for comfort overload</li>
                <li class="animation-element invi fade-in duration-1500 delay-300 in-view">Certified inner cover for protection against fires</li>
                <li class="animation-element invi fade-in duration-1500 delay-600 in-view">Gel-infused memory foam for cooling and airflow</li>
                <li class="animation-element invi fade-in duration-1500 delay-900 in-view">Dual layers of high-performance foams for pressure relief and weight absorption</li>
                <li class="animation-element invi fade-in duration-1500 delay-1200 in-view">Dedicated comfort layer for that distinct lavish feel</li>
                <li class="animation-element invi fade-in duration-1500 delay-1500 in-view">Durable base for overall support and aesthetics</li>
            </ul>
        </div>
    
    
    </div>
    
        <div class="prodview-sizechart green-matt mt-5">
            <h3 class="text-center text-light font-weight-bold">Size Comparison</h3>
            <p class="text-center text-light">Worried your bed won't fit? Check out our size chart.</p>
            <div class="prodview-sizechart-img green-mattress-chart">
                <div>
                    <img class="animation-element slide-up duration-1500 delay-00 in-view" src="{{cdn '/assets/img/prodpage/green-matt-twin.png'}}" />
                </div>
                <div>
                    <img class="animation-element slide-up duration-1500 delay-300 in-view" src="{{cdn '/assets/img/prodpage/green-matt-twin-xl.png'}}" />
                </div>
                <div>
                    <img class="animation-element slide-up duration-1500 delay-600 in-view" src="{{cdn '/assets/img/prodpage/green-matt-full.png'}}" />
                </div>
                <div>
                    <img class="animation-element slide-up duration-1500 delay-900 in-view" src="{{cdn '/assets/img/prodpage/gm-short-queen.png'}}" />
                </div>
                <div>
                    <img class="animation-element slide-up duration-1500 delay-1200 in-view" src="{{cdn '/assets/img/prodpage/gm-queen.png'}}" />
                </div>
                <div>
                    <img class="animation-element slide-up duration-1500 delay-1500 in-view" src="{{cdn '/assets/img/prodpage/gm-king.png'}}" />
                </div>
                <div>
                    <img class="animation-element slide-up duration-1500 delay-1800 in-view" src="{{cdn '/assets/img/prodpage/gm-cal-king.png'}}" />
                </div>
            </div>
        </div>
    
    
    <div class="prodview-advantage green-mattress-ques">
        <h3 class="text-center">Want to sleep a little longer?</h3>
        <p class="text-center w-75 mx-auto">If you want to indulge in long, deep slumbers, our Green Tea mattresses are pretty much willing to do the job.</p>
          <div class="prodview-advantage-con">
            <div>
                <img src="{{cdn '/assets/img/prodpage/mattress-ques-img.png'}}" />
                <h4>Sleep without interruptions</h4>
                <p>Eliminate your sleeping problems with Green Tea’s No Motion Transfer feature that allows you to sleep longer without annoying breaks in between your dreams.</p>
            </div>
            <div>
                <img src="{{cdn '/assets/img/prodpage/mattress-ques-img1.png'}}" />
                <h4>Top-notch comfort all night long</h4>
                <p>Experience pressure relief from aches and pains with Green Tea’s multi-layer architecture that provides excellent spinal support and extra comfort all night long.</p>
            </div>
            <div>
                <img src="{{cdn '/assets/img/prodpage/mattress-ques-img2.png'}}" />
                <h4>Long-lasting mattress</h4>
                <p>Green Tea mattresses are designed to last for years thanks to its extremely durable foam layers and all-natural tea extracts that help maintain freshness.</p>
            </div>
        </div>
    </div>
    
    
    <div id="previewModal" class="modal modal--large" data-reveal>
        <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
            <span aria-hidden="true">&#215;</span>
        </a>
        <div class="modal-content"></div>
        <div class="loadingOverlay"></div>
    </div>
    
    <div class="product-review-section greenh2">
          <h2  class="text-center">Share Your Green Tea Mattress Story</h2>
        <span class="text-center d-block" style="color: #174567; font-size: 18px; margin-bottom: 5em;">See why customers love LUXE or write a Review</span>
        <div class="review-stamped mx-auto" style="width: 85%;">        
            <div id="stamped-reviews-widget" data-widget-type="carousel" data-product-id="{{ product.id }}" data-auto-play="true" data-auto-play-speed="10000" data-fill-empty="true" data-title="Authentic Reviews From Real Customers" data-random="? string:Authentic reviews from real customers. ?"></div>
                </div>
        </div>    
    </div>
    
    <div class="FAQS-categ green-faq-categ mt-5">
        <div class="faqs-content">
            
            <h4 style="">Frequently Asked Questions</h4>
            <p style="text-align: center; color: #fff;">See why customers love LUXE or write a Review</p>
            <div class="faqs-desc">
                <input id="_1" type="checkbox">
                <label class="terms-showMore" for="_1">  What's the best mattress size for me? <i class="fas fa-plus" id="add"></i><img class="fas fa-times" id="close" src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/minus-sign-icon.png?t=1624521698'}}" />
                </label>
                <div>
                    <p>Choosing the right mattress size depends on several factors. Are you sharing your bed with a partner or pets? Do you like having plenty of living space in your bedroom? How do you want your bed to be placed? Breaking down these details will help you pick the right size that fits your preferences.</p>
                </div>
        
                <input id="_2" type="checkbox"> <label class="terms-showMore" for="_2"> What type of foundation should I use for my mattress? 
                    <i class="fas fa-plus" id="add"></i>
    <!--			    <i class="fas fa-times" id="close"></i>-->
                <img class="fas fa-times" id="close" src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/minus-sign-icon.png?t=1624521698'}}" />
                </label>
                <div>
                    <p>Our mattresses can work with almost all standard foundations. The harder and sturdier the base, the better the mattress will perform, as with all foam beds. Platform bases offer the most support, but steel or wooden slatted foundations are also great options. If you want to improvise, adding a piece of plywood atop the base can give additional support.</p>
                </div>
    
                <input id="_3" type="checkbox"> <label class="terms-showMore" for="_3"> How long should I wait before I can use my mattress?
                    <i class="fas fa-plus" id="add"></i>
                    <img class="fas fa-times" id="close" src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/minus-sign-icon.png?t=1624521698'}}" /></label>
                <div>
                   <p>You may start using it right out of the box! Take note, however, that it would take 48 hours up to a week for your mattress to fully decompress. Sleeping on your mattress can help with the decompression. To know more about setting up and mattress care, read this <a href="/mattress-care-setup/" style="text-align: center; color: #00d2ff;">Guide</a>.</p>
                </div>
            </div>
        </div>
    </div>

